body{
    margin: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16;
}

.avatar{
   width: 150px;
   border: 5px solid rgba(12, 12, 12, 0.5);
}

.datos{
    margin: auto 0px;
}

.card{
    display: flex;
    width: 400px;
    margin: 0px auto;
    padding: 20px;
    justify-content: space-around;
    text-align: center;
    background: url(images/forest.gif);
    color: #fff;
    text-shadow: 5px 5px 5px #090909;
    border-bottom: 5px solid rgba(9, 9, 9, 0.463);
    border-right: 5px solid rgba(9, 9, 9, 0.463);
    border-radius: 20px;
}

.border{
    border: 1px dotted rgba(9, 9, 9, 0.389);
}